:root{
    --text: #000;
    --accent: #22F55D;
    --body: #F9F9F9;
    --white: #fff;
    --red: #FF6C6C;
    --hover-btn: #292929;
    --z-0: 0;
    --z-1: 1;
    --z-2: 2;
    --z-9: 9;
}

body{
    font-family: sans-serif;
    background: #F9F9F9;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden;
    min-width: 320px;
    position: relative;
}
body.open{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    padding: 0 50px;
    max-width: 100%;
}
.grow{
    flex-grow: 1;
}
.fw-700{
    font-weight: 700;
}
.flex{
    display: flex;
}
.text-small{
    font-size: 1.5em;
    line-height: 130%;
}
.text-lg{
    font-size: 3.125em;
    line-height: 120%;
}
.title{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background: inherit;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
}
.btn-outline{
    border: 2px solid var(--text);
}
.btn-small{
    font-size: 1.125em;
    padding: 10px 24px;
    border-radius: 25px;

}
.btn-small:hover{
    border: 2px solid var(--hover-btn);
    color: var(--hover-btn);
}
.btn-primary{
    font-size: 1.5em;
    font-weight: 400;
    background: var(--text);
    border-radius: 60px;
    padding: 22px 66px;
    color: var(--white);
}
.btn-primary:hover{
    background: var(--hover-btn);
}
.ReactModalPortal{
    position: relative;
    z-index: 999;
}
.mobile-header{
    display: none;
}
.top-header{
    position: relative;
}
.top-header-wrapper{
    padding-top: 20px;
    align-items: center;
}
.btn-menu{
    display: none;
}
.header-social{
    display: none;
}

.top-header-wrapper .logo{
    margin-right: 2.8em;
}

.lang-btn{
    align-items: center;
    gap: 10px;
    border: 2px solid var(--text);
    border-radius: 26px;
    padding: 2px;
}
.lang-btn input[type='radio']{
    display: none;
}
.lang-btn label{
    padding: 11px 17px;
    display: inline-flex;
    color: var(--text);
    border-radius: 26px;
    cursor: pointer;
}
.lang-btn input[type='radio']:checked + label{
    background: var(--text);
    color: var(--accent);
}

.header-nav{
    margin-right: 3em;
}
.header-nav-list{
    align-items: center;
    gap: 20px;
    font-size: 1.125em;
}
.header-nav-list a{
    transition: border-bottom-color .2s linear;
    border-bottom: 2px solid transparent;
}

.header-nav-list a:hover{
    border-bottom-color: var(--text);
}

.top-section{
    position: relative;
    z-index: var(--z-9);
    min-height: 100svh;
    height: 100%;
    background: var(--accent);
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.top-card{
    flex-grow: 1;
    position: relative;
}
.top-section-content{
    position: relative;
    align-items: center;
    padding-top: 14svh;
}
.top-section-text{
    position: relative;
    z-index: var(--z-2);
    flex-shrink: 0;
    max-width: 47svw;
}
.top-section-text h1{
    font-size: 6.25em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100%;
    margin: 0;
}
.top-section-text p{
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    line-height: 100%;
}
.es .top-section-text p{
    font-size: 4em;
    margin: 20px 0 0 0;
    font-weight: bold;
    line-height: 100%;
}
.es .top-section-text h1{
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100%;
    margin: 0;
    font-size: 6em;
    padding-top: 40px;
}
.top-section-text .btn{
    margin-top: 45px;
    color: var(--accent);
}

.top-section-img{
    position: relative;
    flex-grow: 1;
    z-index: var(--z-1);
}
.top-section-img .card-img{
    position: relative;
    z-index: var(--z-1);
}
.top-section-img .card{
    position: relative;
    top: 50px;
    z-index: var(--z-0);
    max-width: 550px;
}

.stars-wrapper .img{
    position: absolute;
    z-index: var(--z-1);
}
.star-1{
    right: 0;
    top: 2%;
    width: 30%;
}
.star-2{
    right: 32%;
    top: -6%;
    width: 5%;
}
.star-3{
    left: -10%;
    top: -6%;
    width: 7%;
}
.star-4{
    right: 20%;
    bottom: 21%;
    width: 11%;
}
.star-5{
    left: -15%;
    bottom: -7%;
    width: 7%;
}
.star-6{
    right: 6%;
    top: 58%;
    width: 6%;
}
.star-7{
    left: -21%;
    width: 3%;
    bottom: -15%;
}

.top-section-action{
    position: relative;
    z-index: var(--z-2);
    justify-content: center;
    padding-bottom: 5svh;
}
.top-section-action .btn{
    font-size: 1.125em;
    gap: 5px;
    font-weight: 700;
}


/*LIMIT*/
.section-limit{
    margin-top: 50px;
}
.limit-wrapper{
    align-items: center;
    gap: 73px;
}
.limit-img{
    width: 1050px;
    flex-shrink: 0;
}
.limit-img-content{
    width: 100%;
    height: 656px;
    position: relative;
    background: url("/image/rectangle-desktop.png") no-repeat center;
    background-size: contain;
}
.limit-stars{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: var(--z-2);
}
.limit-stars .img{
    position: absolute;
}
.limit-star-1{
    right: 15%;
    top: 16%;
    width: 4%;
}
.limit-star-2{
    left: 19%;
    bottom: 27%;
}
.limit-star-3{
    left: 14%;
    bottom: 23%;
    width: 3%;
}

.es .limit-star-1{
    right: 30%;
    top: 20%;
    width: 40px;
}
.es .limit-star-2{
    left: 12%;
    bottom: 29%;
}
.es .limit-star-3{
    left: 7%;
    bottom: 22%;
    width: 34px;
}
.ellipse{
    position: absolute;
    width: 371px;
    height: 371px;
    top: 24%;
    left: 17%;
    z-index: var(--z-1);
}
.es .ellipse{
    top: 20%;
    left: 10%;
}
.limit-string{
    position: absolute;
    z-index: var(--z-2);
    font-size: 11.375em;
    margin: 0;
    left: 15%;
    top: 16%;
    line-height: 80%;
}
.es .limit-string{
    font-size: 6.5em;
    top: 24%;
}

.limit-string span{
    display: block;
}
.limit-string span:nth-child(1){
    font-weight: 300;
}
.limit-string span:nth-child(2){
    font-weight: 700;
    padding-left: 160px;
}
.limit-string span:nth-child(3){
    font-weight: 900;
    padding-left: 175px;
}

.es .limit-string span:nth-child(2){
    padding-left: 65px;
}
.es .limit-string span:nth-child(3){
    padding-left: 65px;
}

.limit-text .img{
    width: 100px;
}
.limit-text p{
    margin: 38px 0 0 0;
    max-width: 30svw;
}

.limit-text .btn{
    margin-top: 40px;
}

/*DONATION*/
.section-donation{
    margin-top: 190px;
}
.donation-wrapper{
    gap: 150px;
}
.donation-text{
    text-align: right;
    max-width: 51svw;
}
.donation-text h4{
    margin: 5px 0 0 ;
}
.donation-text p{
    margin: 38px 0 0;
}
.donation-actions{
    justify-content: space-between;
    color: var(--white);
    margin-top: 42px;
}
.donation-social{
    gap: 15px;
}
.donation-social a:hover svg{
    transition: all .2s linear;
    fill: var(--accent);
}

.donation-img{
    position: relative;
}
.donation-img .icon{
    position: absolute;
    left: -37px;
    top: -11px;
}
/*QR*/
.section-qr{
    margin-top: 205px;
}
.qr-wrapper{
    gap: 30px;
}
.qr-img{
    position: relative;
    flex: 1 3 59svw;
    overflow: hidden;
    border-radius: 60px;
    background: var(--accent);
}
.qr-person{
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-45%);
}
.qr-stars{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.qr-stars .img{
    position: absolute;
}
.qr-star-1{
    left: 11%;
    top: 17%;
    width: 19%;
}
.qr-star-2{
    left: 32%;
    top: 15%;
    width: 3%;
}
.qr-star-3{
    left: 23%;
    top: 50%;
}
.qr-star-4{
    right: 11%;
    bottom: 12%;
    width: 5%;
}
.qr-star-5{
    bottom: 8%;
    right: 8%;
    width: 2%;
}

.qr-text{
    flex: 1 1 30svw;
    background: var(--white);
    border-radius: 55px;
    padding: 44px 60px 60px 60px;
}
.qr-text .img{
    position: relative;
    left: -15px;
}
.qr-text h4{
    margin: 94px 0 0;
}
.qr-text p{
    max-width: 28svw;
    margin: 30px 0 0;
}
.qr-text .btn{
    margin-top: 35px;
}

/*CREATOR*/
.creator-section{
    margin-top: 50px;
    text-align: center;
}

.creator-wrapper{
    background: url("/image/border.png") no-repeat center;
    background-size: 100% 100%;
    padding: 162px 0 133px;
    width: 100%;
}
.creator-section .img{
    margin: 0 auto;
}
.creator-section p{
    margin: -19px auto 0 auto;
    max-width: 60svw;
}
.creator-section .btn{
    margin-top: 30px;
}

/*CASHBACK*/
.cashback-section{
    margin-top: 50px;
}
.cashback-wrapper{
    gap: 30px;
}
.cashback-text{
    flex: 1 2.5 40svw;
    background: var(--white);
    border-radius: 55px;
    padding: 70px 75px 90px;
    text-align: right;
}
.cashback-text .img{
    margin-left: auto;
}
.cashback-text h4{
    margin: 221px 0 0;
}
.cashback-text p{
    margin: 54px 0 0;
}
.cashback-text .btn{
    margin-top: 41px;
}

.cashback-img{
    flex: 1 2 40svw;
    overflow: hidden;
    border-radius: 55px;
}
.cashback-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*footer*/
.footer{
    margin-top: 103px;
}
.footer-wrapper{
    align-items: stretch;
    padding-bottom: 45px;
}
.footer-item{
    display: flex;
    flex-grow: 1;
}
.footer-logo{
    flex-direction: column;
    justify-content: space-between;
}
.footer-policy{
    align-items: center;
    gap: 18px;
    font-size: 1.125em;
}
.footer-nav ul{
    flex-direction: column;
    gap: 21px;
    font-size: 1.125em;
}
.footer-item-action{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.footer-item-action .btn{
    flex-direction: column;
    gap: 10px;
    font-size: 1.125em;
}

.footer-item-social{
    justify-content: flex-end;
}
.footer-social ul{
    margin-top: 22px;
    align-items: center;
    gap: 40px;
}

.footer-email{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-email .btn-outline{
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 60px;
    padding: 22px 32px;
    border: 4px solid var(--text);
}
.footer-email .btn-outline:hover{
    color: var(--hover-btn);
    border: 4px solid var(--hover-btn);
}
.footer-email p{
    font-size: 1.125em;
    margin: 0;
}

/*MODAL*/
.modal-wrapper{
    background: var(--accent);
    padding: 50px;
    border-radius: 60px;
    position: relative;
    max-width: 40svw;
}
.modal-action{
    align-items: flex-start;
    justify-content: space-between;
}
.modal-action .modal-stars{
    width: 130px;
    height: auto;
}
.modal-action .close{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 60px;
    min-width: 60px;
    height: auto;
}

.modal-text .title{
    max-width: 80%;
    color: var(--text);
}

.form{
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.form .btn-primary{
    padding: 17px 30px;
    border: 4px solid var(--text);
    font-size: 1.125em;
    flex-grow: 1;
}
.form .btn-primary:hover{
    border: 4px solid var(--hover-btn);
}
.form .btn-primary:disabled{
    opacity: .7;
}
.form label{
    display: block;
    margin: 0;
    flex-grow: 1;
    position: relative;
}

.form .error{
    position: absolute;
    left: 0;
    top: -24px;
    font-size: 1em;
    color: var(--red);
}
.form-control{
    box-sizing: border-box;
    width: 100%;
    border: 4px solid var(--text);
    border-radius: 120px;
    background: inherit;
    padding: 17px 30px;
    font-size: 1.125em;
}
.form-control:focus{
    outline: none;
}
.form label.danger .form-control{
    border: 4px solid var(--red);
    color: var(--red);
}

.modal-logo-wrapper{
    flex-grow: 1;
}
.modal-logo-wrapper .modal-logo{
    width: 50%;
    margin: 0 auto;
}
.modal-text-success{
    text-align: center;
    margin-bottom: 60px;
}
.modal-text-success .text-small{
    color: var(--text);
}
.modal-text.modal-text-success .title{
    max-width: 100%;
    margin-bottom: 0;
}
.modal-success-action{
    justify-content: center;
}
.modal-success-action .btn-primary{
    color: var(--accent);
    font-size: 1.125em;
    padding: 17px 80px;
    border: 4px solid var(--text);
}

@media only screen and (max-width : 1650px){
    .text-lg{
        font-size: 2.125em;
    }
    .top-section-text{
        max-width: 50svw;
    }
    .top-section-text h1, .es .top-section-text h1{
        padding-top: 0;
        font-size: 5em;
    }
    .top-section-text p, .es .top-section-text p{
        font-size: 3em;
    }
    .top-section-img .card{
        max-width: 533px;
    }
    .star-1{
        width: 20%;
        top: 0;
    }
    .star-5{
        bottom: 10%;
    }
    .star-7{
        bottom: 0;
    }
    .limit-wrapper{
        gap: 30px;
    }
    .limit-img{
        width: 60%;
    }
    .limit-img-content{
        height: 518px;
    }
    .limit-string{
        font-size: 8em;
        left: 12%;
    }
    .es .limit-string{
        font-size: 5em;
        left: 15%;
    }
    .ellipse{
        width: 280px;
        height: 280px;
    }
    .qr-text{
        padding: 30px;
    }
    .qr-text h4{
        margin: 38px 0 0;
    }
    .qr-text p{
        max-width: 100%;
    }
    .cashback-text h4{
        margin: 38px 0 0;
    }
    .modal-wrapper{
        max-width: 60svw;
    }
}
@media only screen and (max-width : 1450px){
    .container{
        padding: 0 25px;
    }
    .limit-wrapper{
        align-items: center;
    }
    .limit-img-content{
        height: 450px;
    }
    .limit-string{
        font-size: 7em;
    }
    .es .ellipse{
        width: 260px;
        height: 260px;
    }
    .es .limit-string{
        font-size: 4em;
    }

    .limit-text{
        padding-top: 0;
    }
    .limit-text p{
        max-width: none;
    }
    .donation-wrapper{
        gap: 60px;
        align-items: center;
        justify-content: space-between;
    }
    .donation-text{
       max-width: 70svw;
    }
    .donation-text p br{
        display: none;
    }
    .creator-wrapper{
        padding: 115px 0;
    }
    .footer-social ul{
        gap: 20px;
    }
    .cashback-text{
        padding: 20px;
    }
}
@media only screen and (max-width : 1200px){
    .top-header-wrapper .logo{
        margin-right: 1em;
    }
    .lang-btn{
        gap: 0;
    }
    .lang-btn a{
        padding: 11px;
    }
    .header-nav{
        margin-right: 1em;
    }
    .header-nav-list{
        gap: 10px;
        font-size: 1em;
    }
    .top-section-text{
        max-width: 52svw;
    }
    .top-section-img .card{
        max-width: 380px;
        top: 0;
    }
    .limit-img{
        width: 55%;
    }
    .limit-wrapper{
        gap: 20px;
    }
    .limit-img-content{
        height: 333px;
    }
    .es .limit-img-content{
        height: 335px;
    }
    .ellipse, .es .ellipse{
        width: 200px;
        height: 200px;
    }
    .limit-string{
        font-size: 5em;
    }
    .es .limit-string{
        font-size: 3em;
        top: 28%;
    }

    .limit-string span:nth-child(2){
        padding-left: 29%;
    }
    .limit-string span:nth-child(3){
        padding-left: 29%;
    }
    .limit-star-2{
        left: 18%;
        bottom: 25%;
        width: 7%;
    }
    .limit-star-3{
        bottom: 18%;
    }

    .es .limit-star-2{
        width: 10%;
        left: 13%;
        bottom: 25%;
    }
    .es .limit-star-3{
        bottom: 15%;
    }


    .limit-text .img{
        width: 80px;
    }
    .limit-text p{
        margin: 10px 0 0;
    }
    .limit-text .btn{
        margin-top: 20px;
    }
    .donation-wrapper{
        align-items: flex-start;
    }
    .donation-text{
        width: 60%;
    }
    .donation-actions{
        flex-direction: column;
        align-items: flex-start;
        gap: 45px;
    }
    .qr-img{
        flex: 1 3 50svw;
    }
    .qr-person img{
        width: 400px;
        height: 500px;
    }
    .qr-star-1 {
        left: 7%;
        top: 9%;
    }
    .qr-star-2{
        left: 23%;
        top: 22%;
    }
    .qr-star-3{
        left: 6%;
        top: 27%;
    }
    .qr-star-4{
        bottom: 7%;
    }
    .qr-star-5{
        bottom: 4%;
        right: 16%;
    }
    .qr-text h4{
        margin: 10px 0 0;
    }

    .creator-wrapper{
        padding: 50px 0;
    }
    .creator-section .img{
        width: 80%;
    }
    .creator-section p{
        margin: 0 auto;
        max-width: 90svw;
    }
    .footer-item-action{
        display: none;
    }
    .footer-email .btn-outline{
        padding: 17px 26px;
        font-size: 1.125em;
        border: 3px solid var(--text);
    }
    .footer-wrapper{
        flex-wrap: wrap;
    }
    .footer-logo{
        order: 5;
        width: 100%;
        margin-top: 30px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 74px;
    }
    .footer-item-social{
        width: 100%;
        margin-top: 30px;
        order: 4;
        justify-content: center;
    }
    .modal-wrapper{
        max-width: 70svw;
    }
}
@media only screen and (max-width : 1024px){
    .mobile-header{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        transition: background-color .1s linear;
    }
    .open .mobile-header.active{
        background-color: var(--accent);
    }
    .mobile-header.active{
        background-color: var(--white);
    }
    .mobile-header-wrapper{
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .btn-menu{
        display: block;
        width: 34px;
        height: 18px;
        position: relative;
        transition-duration: 0.2s;
        transition-delay: 0.2s;
    }
    .btn-menu::before, .btn-menu::after{
        content: "";
        position: absolute;
        left: 0;
        border-radius: 4px;
        height: 4px;
        width: 34px;
        background-color: var(--text);
        transition-duration: 0.2s;
    }
    .btn-menu::before{
        top: 0;
        transition: transform 0.2s, top 0.2s 0.2s;
    }
    .btn-menu::after{
        bottom: 0;
        transition: transform 0.2s, bottom 0.2s
    }

    .btn-menu.open:before{
        transition: top 0.2s, transform 0.2s 0.2s;
        top: 7px;
        transform: rotateZ(-45deg);
    }

    .btn-menu.open:after{
        transition: bottom 0.2s, transform 0.2s 0.2s;
        bottom: 7px;
        transform: rotateZ(45deg);
    }

    .top-header{
        position: fixed;
        width: 100svw;
        z-index: var(--z-1);
        visibility: hidden;
        left: 0;
        right: 0;
        top: -100%;
        background: var(--accent);
        transition: all 0.2s linear;
    }
    .top-header .container{
        min-height: 100svh;
    }
    .top-header.active{
        z-index: var(--z-9);
        visibility: visible;
        top: 0;
        height: 100%;
        transition: all 0.2s linear;
    }
    .top-header-wrapper{
        flex-wrap: wrap;
        padding-top: 0;
        min-height: 100svh;
    }
    .top-header-wrapper .logo{
        display: none;
    }
    .top-header-wrapper .btn-modal{
        display: none;
    }
    .top-header-wrapper .grow{
        display: none;
    }
    .top-header-wrapper .header-nav{
        padding-top: 80px;
        width: 100%;
        order: 1;
        margin: 0;
    }
    .top-header-wrapper .header-nav .header-nav-list{
        flex-direction: column;
        align-items: flex-start;
        font-size: 2em;
        font-weight: 700;
    }
    .header-nav-list a:hover{
        border: none;
    }

    .top-header-wrapper .lang-btn{
        gap: 10px;
        order: 2;
    }
    .header-social{
        order: 3;
        display: flex;
        width: 100%;
        margin-bottom: 30px;
    }
    .header-social ul{
        align-items: center;
        width: 50%;
        justify-content: space-between;
    }

    .top-section-content{
        flex-direction: column;
        padding-top: 20svh;
    }

    .top-section-text{
        max-width: none;
        width: 100%;
    }
    .top-section-text p{
        max-width: 100%;
        margin-top: 20px;
    }
    .stars-wrapper{
        display: none;
    }
    .top-section-action{
        display: none;
    }
    .top-section-img .card{
        max-width: 100%;
    }
}
@media only screen and (max-width : 992px){
    .btn-primary{
        font-size: 1.125em;
        padding: 17px 50px;
    }
    .top-section{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .top-section-text h1, .es .top-section-text h1{
        font-size: 4em;
    }
    .top-section-text p, .es .top-section-text p{
        font-size: 3em;
    }

    .section-limit{
        margin-top: 12px;
    }
    .limit-wrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    .limit-img{
        width: 100%;
    }
    .limit-img-content, .es .limit-img-content{
        background: url('/image/rectangle-m.png') no-repeat center;
        background-size: 100% 100%;
        height: 421px;
        width: 100%;
        margin: 0 auto;
    }

    .limit-string{
        left: 25%;
        top: 20%;
    }
    .limit-star-2{
        left: 24%;
        bottom: 32%;
    }
    .limit-star-3{
        bottom: 27%;
        left: 18%;
    }
    .limit-text{
        width: 80%;
        margin-top: -40px;
    }

    .es .limit-string{
        font-size: 4em;
        top: 20%;
        left: 12%;
    }
    .es .limit-star-1{
        right: 20%;
        top: 15%;
    }
    .es .limit-star-2{
        width: 5%;
        bottom: 35%;
    }
    .es .limit-star-3{
        bottom: 28%;
        left: 8%;
        width: 20px;
    }

    .ellipse{
        left: 24%;
        top: 20%;
        width: 215px;
        height: 215px;
    }
    .section-donation{
        margin-top: 90px;
    }
    .donation-wrapper{
        flex-direction: column-reverse;
        gap: 45px;
    }
    .donation-img{
        width: 350px;
        margin: 0 auto;
    }
    .donation-img .person{
        margin-left: 40px;
    }
    .donation-img .icon{
        left: 0;
    }
    .donation-text{
        text-align: left;
        width: 100%;
    }
    .donation-actions{
        margin-top: 21px;
    }
    .donation-social{
        align-items: flex-start;
    }
    .donation-social .logo-outline{
        max-width: 153px;
    }
    .donation-social svg{
        width: 56px;
        height: 56px;
    }
    .section-qr{
        margin-top: 48px;
    }
    .qr-img{
        flex: 1 1 100%;
        min-height: 506px;
    }
    .qr-star-2{
        top: 32%;
    }
    .qr-star-3{
        top: 38%
    }
    .qr-wrapper{
        flex-direction: column;
    }
    .qr-text{
        padding: 0;
        flex: 1 1 100%;
        border-radius: 0;
        background: none;
    }
    .creator-section{
        margin-top: 40px;
    }
    .creator-section .img{
        width: 90%;
    }

    .creator-wrapper p{
        padding: 0 30px;
    }
    .cashback-section{
        margin-top: 20px;
    }
    .cashback-wrapper{
        flex-direction: column-reverse;
        gap: 38px;
    }
    .cashback-text{
        flex: 1 1 100%;
        width: auto;
        min-width: auto;
        text-align: left;
        background: none;
        padding: 0;
    }
    .cashback-text .img{
        margin-left: 0;
    }
    .cashback-text h4{
        margin-top: 34px;
    }
    .cashback-text p{
        margin-top: 20px;
    }
    .cashback-text .btn{
        margin-top: 32px;
    }
    .cashback-img{
        flex: 1 1 100%;
    }
    .footer-item-nav{
        order: 1;
        width: 100%;
    }
    .footer-email{
        margin-top: 15px;
        order: 2;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }
    .footer-logo .logo img{
        max-width: 380px;
    }
    .modal-wrapper{
        padding: 30px 15px;
        border-radius: 42px;
    }
    .modal-action .modal-stars{
        margin: 0 0 0 30px;
        width: 100px;
    }
    .modal-text .title{
        max-width: none;
        margin: 40px 0 30px 0;
        font-size: 1.875em;
        line-height: 130%;
    }
    .form{
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

}
@media only screen and (max-width : 768px){
    .container{
        padding: 0 15px;
    }
    .top-section-content{
        padding-top: 15svh;
    }
    .top-section-img{
        padding: 30px 0;
    }
    .top-section .card{
        width: 100%;
        margin: 0 auto;
    }
    .limit-text{
        width: 100%;
    }
    .limit-star-2{
        left: 27%;
        bottom: 34%;
    }
    .es .limit-string{
        top: 27%;
        font-size: 3em;
    }
    .es .limit-star-2{
        bottom: 40%;
    }
    .es .limit-star-3 {
        bottom: 33%;
        left: 8%;
        width: 16px;
    }
    .qr-person{
        transform: translateX(-50%);
    }
    .qr-star-2{
        top: 25%
    }
    .qr-star-3{
        width: 10%;
    }
    .qr-person img{
        width: 340px;
        height: 440px;
    }
    .creator-wrapper{
        background: url("/image/border-m.png") no-repeat center;
        background-size: 100% 100%;
        width: 100%;
        padding: 48px 0;
    }
    .modal-wrapper {
        max-width: 100svw;
    }
    .footer-policy{
        text-align: center;
    }
}
@media only screen and (max-width : 480px){
    .mobile-header-wrapper{
        padding: 15px 0;
    }
    .text-small{
        font-size: 1.25em;
        line-height: 130%;
    }
    .text-lg{
        font-size: 1.25em;
    }
    .header-social ul{
        width: 100%;
    }
    .top-section-content{
        padding-top: 15svh;
    }
    .top-section-text h1{
        line-height: 90%;
        font-size: 3.1em;
    }
    .top-section-text p{
        font-size: 2em;
    }
    .es .top-section-text h1{
        line-height: 90%;
        font-size: 3.1em;
    }
    .es .top-section-text p{
        font-size: 2em;
    }
    .top-section-text .btn{
        margin-top: 25px;
    }

    .limit-img-content{
        width: 100%;
        background-size: 100% 100%;
    }

    .limit-text{
        width: 100%;
        margin-top: -60px;
    }
    .limit-text .img{
        width: 100px;
    }
    .limit-text p{
        margin: 30px 0 0;
    }
    .limit-text .btn{
        margin-top: 30px;
    }
    .ellipse{
        left: 14%;
        top: 20%;
        width: 180px;
        height: 180px;
    }
    .es .ellipse{
        width: 160px;
        height: 160px;
    }
    .limit-string{
        left: 13%;
        top: 20%;
        font-size: 4em;
    }
    .limit-star-1{
        right: 5%;
        top: 14%;
        width: 6%;
    }
    .limit-star-2{
        left: 19%;
        bottom: 42%;
    }
    .limit-star-3{
        bottom: 38%;
        left: 13%;
    }
    .es .limit-img-content{
        height: 365px;
        width: 100%;
        background-size: 100% 100%;
    }
    .es .limit-string{
        top: 25%;
        left: 5%;
        font-size: 2.5em;
    }
    .es .limit-star-2{
        bottom: 44%
    }
    .es .limit-star-3{
        bottom: 38%;
        left: 8%;
        width: 12px;
    }
    .donation-img{
        width: 100%;
    }
    .donation-img .person{
        margin: 0;
        width: 100%;
    }
    .donation-text p br{
        display: none;
    }
    .qr-img{
        border-radius: 25px;
        min-height: 490px;
    }
    .qr-person img{
        width: 300px;
        height: 340px;
        object-fit: cover;
    }
    .creator-wrapper{
        width: 100%;
        padding: 60px 0;
    }

    .creator-wrapper p{
        padding: 0 10px;
        margin-top: 35px;
    }
    .cashback-text{
        padding: 0;
    }
    .cashback-text .text-lg{
        font-size: 1.25em;
    }
    .footer-item-social{
        margin-top: 50px;
    }
    .footer-social{
        width: 100%;
    }
    .footer-social ul{
        margin-top: 0;
        width: 100%;
        justify-content: space-around;
    }
    .footer-logo{
        margin-top: 45px;
    }
    .modal-wrapper {
        padding: 15px 15px 30px 15px;
    }
    .modal-text .title{
        font-size: 1.3em;
    }
    .modal-logo-wrapper .modal-logo{
        margin-left: 0;
        width: 70%;
    }
}
@media only screen and (max-width : 370px){
    .donation-img{
        width: 100%;
    }
    .limit-img-content{
        height: 350px;
    }
    .limit-string{
        left: 10%;
    }
    .footer-email{
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (min-device-height: 850px) and (max-width: 1650px){
    .top-section-content{
        padding-top: 15svh;
    }
}
@media only screen and (min-device-height: 850px) and (max-width: 480px){
    .top-section-content{
        padding-top: 12svh;
    }
}

@media only screen and (max-width: 2704px) and (min-width: 2000px){
    body{
        font-size: 20px;
    }
    .top-section-text{
        max-width: 50svw;
    }

    .fancybox__content{
        max-width: 45svw;
    }
    .limit-img{
        width: 1270px;
    }
    .limit-img-content{
        height: 811px;
    }
    .donation-img{
        width: 100%;
    }
    .donation-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .donation-img .icon{
        width: 120px;
    }
    .qr-text .img{
        width: 140px;
    }
    .cashback-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .cashback-text .img{
        width: 140px;
    }
}
